.btn-toolbar {
  margin-top: -2vh;;
}

.btn-toolbar button {
    background-color: white; 
    color: #1A36D9;
    width: 220px;
    border: none;
    border: 3px solid #01DD8D;
    font-weight: bold;
    border-radius: 5px;
    font-size: 23px;
    padding: 10px 24px;
    cursor: pointer;
    float: left; 
    margin-right: 2%;
  }
  
  
  .btn-toolbar button:hover {
    background-color: #1A36D9;    
    color: white; 

  }
      
  #selected {
    border: 3px solid #1A36D9;
    background-color: #1A36D9;    
    color: white; 
  }