.btn-toolbar {
  margin-top: -2vh;;
}

.btn-toolbar button {
    background-color: white; 
    width: 220px;;
    border: none;
    border: 3px solid #004785;
    font-weight: bold;
    border-radius: 5px;
    font-size: 23px;
    padding: 10px 24px;
    cursor: pointer;
    float: left; 
    margin-right: 2%;
  }
  
  
  .btn-toolbar button:hover {
    background-color: #004785;    
    color: white; 

  }
      
  #selected {
    background-color: #004785;    
    color: white; 

  }