.forside {
  height: 80vh;
  z-index: 1;
}

.background-img {
  width: 100%;
  position: absolute;
  margin-top: -10%;
  z-index: -1;
}

h1 {
  font-family: sans-serif;
}

.p_card_forside {
  font-size: 16px;
  line-height: 19px;
}

.liten_overskrift_forside {
  font-size: 24px;
}

.overskrift_forside {
  font-size: 48px;
  margin-top: -3%;
  font-weight: bold;
}

.tekstboks_overskrift_forside {
  font-size: 18px;
  margin-top: -5%;
}

.searchBar {
  position: relative;
}

.bedrift_button{
    background-color: white;
    width: 65%;
}

.tekstboks_forside {
  margin-top: 3%;
  margin-left: 7%;
  width: 35%;
}










