.forside {
  background-image: url(./Images/Jordklode_Artwork.png);
  height: 70vh;
}

h1 {
  font-family: sans-serif;
}

.p_card_forside {
  font-size: 16px;
  line-height: 19px;
}

.liten_overskrift_forside {
  font-size: 24px;
}

.overskrift_forside {
  font-size: 48px;
  margin-top: -3%;
  font-weight: bold;
}

.tekstboks_overskrift_forside {
  font-size: 18px;
  margin-top: -5%;
}

.searchBar {
  position: relative;
}

.bedrift_button{
    background-color: white;
    width: 65%;
}

.tekstboks_forside {
  margin-top: 3%;
  margin-left: 7%;
  width: 35%;
}










