.header-container {
    display: inline-flex;
    flex-flow: row wrap;
}

.generell-info {
    width: 100vw;
    margin-left: 2%;
    margin-top: 2%;
}

.overskrift-generell-bedrifter {
    margin-top: 0.5%;
    font-size: 32px;
    width: flex;
    font-weight: 700;
    font-family: sans-serif;
    float: left;
}

.info {
    margin-left: 4%;
    width: flex;
    float: left;
    line-height: 3px;
}

.info-title {
    width: 100%;
    font-weight: 700;
}

