.nøkkeltall {
    border-radius: 10px;
    background-color: #ccdfef;
    padding-left: 5%;
    margin-right: 5%;
    height: 170px;
    width: 170px;
    border-radius: 10px;
    background-color: #ccdfef;
    text-align: center;

}