.container-frames {
    clear: both;
}

.container-frame {
    box-shadow: 0px 8px 16px 6px #00478514;
    border-radius: 25px;
    width: 100%;
    height: flex;
}

.row-frames {
    display: flex;
    flex-flow: wrap;
}

.column-frames {
    width: 47%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    padding-left: 1.5%;
    padding-right: 1%;
}

.nøkkeltall-frame {
    display: flex;
    flex-flow: row wrap;
    padding-left: 5%;
}

.graf-frame {
    margin-top: 5%;
    width: 90%;
    height: flex;
    border: 1px solid black;
    margin-left: 5%;
    text-align: center;
}

.overskrift-frame {
    margin-left: 2.5%;
    margin-top: 2%;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-flow: row wrap;
}

.p-overskrift-frame {
    margin-left: 2.5%;
    padding-top: 1%;
    font-size: 24px;
    color: #000;
    text-decoration: underline;
}

.btn-dropDown {
    width: 90%;
    height: 42px;
    margin-left: 5%;
    background-color: #fff;
    border: 2px solid #1A36D9;
    text-align: left;
    padding-left: 15px;
    border-radius: 10px;
}

.p-hidden {
    width: 90%;
    margin-left: 5%;
    padding-left: 15px;
}

.p-tekst {
    font-size: 16px;;
    width: 95%;
}

.tekstboks-frame {
    margin-left: 5%;
    height: 150px;
}

.tekst-til-nøkkeltall {
    margin-left: 5%;
}















