.footer {
  margin-top: 1%;
  display: flex;
  flex-flow: wrap;
  background-color: #2b47ee;
  color: #fff;
  height: 318px;
  width: 100%;
  padding-bottom: 2%;
}

.footers {
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 20%;
}

.img-footer {
  width: 200px;
}

.p-footer-bold {
  font-weight: bold;
}

.p-footer {
  font-weight: 500;
}

.some {
  width: 400px;
}

.img-some {
  width: 47px;
  margin-right: 7%;
}

@media only screen and (min-width: 1920px) {
  .footers {
    margin-left: 15.5%;
  }
}

@media only screen and (max-width: 1600px) {
  .footers {
    margin-left: 15%;
  }
}

@media only screen and (max-width: 1400px) {
  .footer {
    height: 100%;
  }

  .footers {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
