.navbar {
  background-color: #fff;
  overflow: auto;
  width: 100%;
}

.navbar a {
  float: left;
  padding: 1%;
  color: #000;
  text-decoration: none;
  font-size: 17px;
  width: 15%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center;
}

.navbar a:hover {
    border-bottom: 2px solid #000;
    text-decoration: none;
    background-color: white;
}

.image-nav {
  width: 70px;
  padding-top: 2%;
}

.navbar-img {
  
}

@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
}