.container-body {
    margin-top: 10%;
    margin-bottom: 10%;
    position: absolute;
}

.row {
    background-color: rgb(171, 164, 164, 0.1);
    padding-left: 7%;
    padding-right: 7%;
}

.card{
    z-index: 1000;
}

.small {
    width: 80%;
    height: 90%;
    margin-top: 14%; 
}

.card:hover {
    box-shadow: 5px 5px 10px 20px 1px rgba(0, 0, 0, 0.253)
}

.card-body {
    padding: 3rem 0;
}

.card-text {
    font-size: 19px;
    padding: 0.5rem 2rem;
}

.large {
    width: 160%;
    height: 90%;
    margin-top: 14%;
}

